@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.custom-navbar{
  background-color: transparent;
  .navbar-toggler-icon{
    color: black;
  }

  .nav-link{
    @media (max-width: 768px) {
    text-align: center;
      
    }
  }
}

.section{
  padding: 3rem 0;
}

.hero{
  height: 400px;
  background-image: url(./assets/wed-1.jpg);
  background-size: cover;
  img{
    width: 100%;
  }

  .text-1{
    font-size: 2.3rem;
    font-family: 'Dancing Script', cursive;
  }

  .text-2{
    font-family: 'Lora', serif;
  }
}
